{% extends 'base.html.twig' %}

{% block title %}Account table{% endblock %}

{% block bread %}Account index{% endblock %}

{% block body %}
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-left text-sm font-light">
                    <thead
                    class="border-b bg-neutral-200 font-medium dark:border-neutral-500 dark:bg-neutral-600">
                    <tr>
                        <th scope="col" class="px-6 py-4">Id</th>
                        <th scope="col" class="px-6 py-4">Name</th>
                        <th scope="col" class="px-6 py-4">Last_name</th>
                        <th scope="col" class="px-6 py-4">Gender</th>
                        <th scope="col" class="px-6 py-4">Email</th>
                        <th scope="col" class="px-6 py-4">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for operator in operators %}
                            <tr
                            class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                                <td class="whitespace-nowrap px-6 py-4">{{ operator.id }}</td>
                                <td class="whitespace-nowrap px-6 py-4">{{ operator.name }}</td>
                                <td class="whitespace-nowrap px-6 py-4">{{ operator.lastName }}</td>
                                <td class="whitespace-nowrap px-6 py-4">{{ operator.gender }}</td>
                                <td class="whitespace-nowrap px-6 py-4">
                                <ul>
                                    {% for contact in operator.contact %}
                                        <li>{{contact.email}}</li>
                                    {% endfor %}
                                </ul>
                                </td>
                                <td>
                                    <a class="whitespace-nowrap px-6 py-4" href="{{ path('app_operator_show', {'id': operator.id}) }}">show</a>
                                    <a href="{{ path('app_operator_edit', {'id': operator.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a class="text-blue-500" href="{{ path('app_operator_new') }}">Create new</a>
{% endblock %}
