{% extends 'base.html.twig' %}

{% block title %}Account table{% endblock %}

{% block bread %}Account index{% endblock %}

{% block body %}
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-left text-sm font-light">
                    <thead
                    class="border-b bg-neutral-200 font-medium dark:border-neutral-500 dark:bg-neutral-600">
                    <tr>
                        <th scope="col" class="px-6 py-4">Id</th>
                        <th scope="col" class="px-6 py-4">Email</th>
                        <th scope="col" class="px-6 py-4">Roles</th>
                        <th scope="col" class="px-6 py-4">Name</th>
                        <th scope="col" class="px-6 py-4">Last_name</th>
                        <th scope="col" class="px-6 py-4">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for account in accounts %}
                            <tr
                                class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                                <td class="whitespace-nowrap px-6 py-4">{{ account.id }}</td>
                                <td class="whitespace-nowrap px-6 py-4">{{ account.email }}</td>
                                <td class="whitespace-nowrap px-6 py-4">{{ account.roles ? account.roles|json_encode : '' }}</td>
                                <td class="whitespace-nowrap px-6 py-4">{{ account.name }}</td>
                                <td class="whitespace-nowrap px-6 py-4">{{ account.lastName }}</td>
                                <td>
                                    <a href="{{ path('app_account_show', {'id': account.id}) }}">show</a>
                                    <a href="{{ path('app_account_edit', {'id': account.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<a class="text-blue-500" href="{{ path('app_account_new') }}">Create new</a>
{% endblock %}
