{% extends 'base.html.twig' %}

{% block title %}{{ site.legalName }}{% endblock %}

{% block bread %}{{ site.legalName }}{% endblock %}

{% block body %}
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0 dark:border-neutral-500 dark:bg-neutral-600">
        <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500 dark:text-white">
                    Id
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-white">
                    {{ site.id }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 ">
                <dt class="text-sm font-medium text-gray-500 dark:text-white">
                    Legal Name
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-white">
                    {{ site.legalName }}
                </dd>
            </div>
             <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 ">
                <dt class="text-sm font-medium text-gray-500 dark:text-white">
                    Company
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-white">
                    {{ site.company.legalName }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 ">
                <dt class="text-sm font-medium text-gray-500 dark:text-white">
                    Address
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-white">
                    {{ site.address.road}}, {{ site.address.houseNumber}}, {{ site.address.city}}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 ">
                <dt class="text-sm font-medium text-gray-500 dark:text-white">
                    Supervisor
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-white">
                    {{ site.supervisor.id}}, {{ site.supervisor.name}} {{ site.supervisor.lastName}}
                </dd>
            </div>
            
        </dl>
    </div>
    <a class="text-blue-500" href="{{ path('app_site_index') }}">Back</a>
    <br>
    <a class="text-blue-500" href="{{ path('app_site_edit', {'id': site.id}) }}">Edit</a>

    {{ include('site/_delete_form.html.twig') }}
{% endblock %}

