{% extends 'base.html.twig' %}

{% block title %}Plant table{% endblock %}

{% block bread %}Plant index{% endblock %}

{% block body %}
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-left text-sm font-light">
                    <thead
                    class="border-b bg-neutral-200 font-medium dark:border-neutral-500 dark:bg-neutral-600">
                    <tr>
                        <th scope="col" class="px-6 py-4">Id</th>
                        <th scope="col" class="px-6 py-4">Plant name</th>
                        <th scope="col" class="px-6 py-4">Type</th>
                        <th scope="col" class="px-6 py-4">actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for plant in plants %}
                        <tr
                        class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                            <td class="whitespace-nowrap px-6 py-4">{{ plant.id }}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{ plant.plantName }}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{ plant.Type }}</td>
                            <td>
                                <a class="whitespace-nowrap px-6 py-4" href="{{ path('app_plant_show', {'id': plant.id}) }}">show</a>
                                <a href="{{ path('app_plant_edit', {'id': plant.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a class="text-blue-500" href="{{ path('app_plant_new') }}">Create new</a>
{% endblock %}
