{{ form_start(form, {attr:{'novalidate': 'novalidate'}}) }}
    <div>{{ form_errors(form)}}</div>

    <div>
        {{ form_label(form.email, 'Enter the email', {'label_attr':{'class':'block text-sm text-grey-700 dark:text-grey-300 font-medium'}})}}
        {{ form_widget(form.email, {'attr':{'class':'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p2 mt-1 bm-2'}})}}
        {{ form_errors(form.email)}}
    </div>

    <div>
        {{ form_label(form.phone_number, 'Enter the phone number', {'label_attr':{'class':'block text-sm text-grey-700 dark:text-grey-300 font-medium'}})}}
        {{ form_widget(form.phone_number, {'attr':{'class':'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p2 mt-1 bm-2'}})}}
        {{ form_errors(form.phone_number)}}
    </div>

    <div>
        {{ form_label(form.name, 'Enter the name', {'label_attr':{'class':'block text-sm text-grey-700 dark:text-grey-300 font-medium'}})}}
        {{ form_widget(form.name, {'attr':{'class':'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p2 mt-1 bm-2'}})}}
        {{ form_errors(form.name)}}
    </div>

    <div>
        {{ form_label(form.last_name, 'Enter the last name', {'label_attr':{'class':'block text-sm text-grey-700 dark:text-grey-300 font-medium'}})}}
        {{ form_widget(form.last_name, {'attr':{'class':'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p2 mt-1 bm-2'}})}}
        {{ form_errors(form.last_name)}}
    </div>

    <div>
        {{ form_label(form.company, 'Enter the company', {'label_attr':{'class':'block text-sm text-grey-700 dark:text-grey-300 font-medium'}})}}
        {{ form_widget(form.company, {'attr':{'class':'block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p2 mt-1 bm-2'}})}}
        {{ form_errors(form.company)}}
    </div>

    <div class="flex items-center mt-4 mb-4">
        {{ form_label(form.is_main, 'Is main', {'label_attr': {'class': 'text-sm text-gray-700 dark:text-gray-300 font-medium mr-2'}}) }}
        {{ form_widget(form.is_main, {'attr': {'class': 'h-4 w-4 rounded border-gray border text-indigo-300 '}}) }}
    </div>
